<%include ../partials/header%>
<!-- we can use xepress locals package -->

<!-- <h1>profile</h1> -->
 <h1>profile:<%=name%></h1>


<%#=userName%>



<!-- must write "=" to display data -->

<%include ../partials/footer%>
